body {
  color: #191970;
}  

.loginDiv {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 25%;
  left: 39%;
  text-align:center;
  margin: 0;
}

.tab {
  width: 300px;
  height: 300px;
  margin-left: auto; 
  margin-right: auto;
  border: 1px solid black;
}

.button {
  background-color: #008BD3;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  color: #ffffff;
}

.inp {
  display: block;
  width: 95%;
}

.libro {
  border:1px solid black; 
  width: 200px; 
  height: 400px;
  background-color: #b6b3b3;
}

.libro1 {
  width: 100%; 
  height: 400px;
}

/*imposta l'alteza delle immagini*/
img {
  height: 80%;
}

/*style per il menu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
/*style per i tag a del menu*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/*style per l'hover del menu*/
.sidenav a:hover {
  color: #f1f1f1;
}

/*style per il bottone che chiude il menu*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*fa in modo che quando si fa uscire il menu ci sia una transizione 
di mezzo secondo mentre si muove il resto della pagina*/
#main {
  transition: margin-left .5s;
}

/*style per il pop up*/
.form-popup {
  display: none;
  border: 3px solid #f1f1f1;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -150px;
  width: 300px;
  height: 350px;
}

/* style per il contenitore form*/
.form-container {
  max-width: 300px;
  padding: 10px;
}

/* style per i bottoni del pop-up */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Rende rosso il bottone di chiusura */
.form-container .cancel {
  background-color: red;
}

/*rende i bottoni più chiari quando ci passi sopra con il mouse */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 500px;
}
.column2 {
  float: left;
  width: 80%;
  margin: auto;
  padding: 100px;
  height: 500px;
}